[submodule "homework-0-Michael-on-the-Microphone"]
	path = homework-0-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-0-Michael-on-the-Microphone.git
[submodule "homework-1-Michael-on-the-Microphone"]
	path = homework-1-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-1-Michael-on-the-Microphone.git
[submodule "homework-2-Michael-on-the-Microphone"]
	path = homework-2-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-2-Michael-on-the-Microphone.git
[submodule "homework-3-Michael-on-the-Microphone"]
	path = homework-3-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-3-Michael-on-the-Microphone.git
[submodule "homework-4-Michael-on-the-Microphone"]
	path = homework-4-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-4-Michael-on-the-Microphone.git
[submodule "homework-5-Michael-on-the-Microphone"]
	path = homework-5-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-5-Michael-on-the-Microphone.git
[submodule "homework-6-Michael-on-the-Microphone"]
	path = homework-6-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-6-Michael-on-the-Microphone.git
[submodule "homework-7-Michael-on-the-Microphone"]
	path = homework-7-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-7-Michael-on-the-Microphone.git
[submodule "homework-8-Michael-on-the-Microphone"]
	path = homework-8-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/homework-8-Michael-on-the-Microphone.git
[submodule "final-project-Michael-on-the-Microphone"]
	path = final-project-Michael-on-the-Microphone
	url = https://github.com/USC-DSCI-552/final-project-Michael-on-the-Microphone.git
